  .content-grid {
    margin: 30px 0px;
    display: grid;
    gap: 25px;
    justify-items: center;
  }
  
  .home-grid {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3 1fr);
    grid-template-areas:
      "a c c"
      "b d d"
      "e f f";
  }
  
  .project-grid {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3 1fr);
    grid-template-areas:
      "pa pb pc"
      "pd pe pf"
      "pg pg pg";
  }

  #portfolio-image {
    grid-area: a;
  }
  
  #contacts {
    grid-area: b;
  }

  #bio {
    grid-area: d;
  }

  #video {
    grid-area: c;
  }

  #bustracker {
    grid-area: pa;
  }

  #pacman {
    grid-area: pb;
  }

  #eyesmove {
    grid-area: pc;
  }

  h1 {
    margin-top: 30px;
    font-family: "Source Sans Pro", sans-serif;
    font-style: italic;
    font-size: 2.2em;
    color: rgb(255, 214, 153);;
  }

  .portfolio-image{
    margin-top: 25px;     
  }

  .video{
    margin-top: 25px;     
  }

  .bio {
    text-align: justify;
    margin-top: 5px;
  }

  .contacts{
    margin-top: -82px;
  }
    
  .header-font {
    font-family: "Source Sans Pro", sans-serif;
    font-size: 1.2em;
  }
  
  .portfolio-title {
    font-size: 33px;
  }
  
  .portfolio-color {
    color: white;
  }
    
  .cover-container {
    max-width: 42em;
  }


/*
 * Header
 */
  
  .nav-masterheader .nav-link {
    padding: 0.25rem 0;
    font-weight: 700;
    color: rgba(255, 255, 255, 0.315);
    background-color: transparent;
    border-bottom: 0.25rem solid transparent;
  }
  
  .nav-masterheader .nav-link:hover,
  .nav-masterheader .nav-link:focus {
    border-bottom-color: rgba(150, 200, 255, 0.25);
  }
  
  .nav-masterheader .nav-link + .nav-link {
    margin-left: 1rem;
  }
  
  .nav-masterheader .active {
    color: #fff;
    border-bottom-color: #fff;
  }
